<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC Game Info</title>
</head>
<body>

    <label>Title</label>
    <p th:text="${pcGameObj.title}"></p>
    <label>Producer</label>
    <p th:text="${pcGameObj.producer}"></p>
    <label>Genre</label>
    <p  th:text="${pcGameObj.genre}"></p>
    <label>Min age</label>
    <p  th:text="${pcGameObj.minimumAge}"></p>
    <label>isAAA</label>
    <p  th:text="${pcGameObj.isAAA}"></p>

</body>
</html>