<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC Game Form</title>
</head>
<body>

<h2 th:text="${createMessage}"></h2>
<form th:object="${gameForm}" th:action="@{/pc-games}" method="post">
    <label>Title</label>
    <input type="text" th:field="${gameForm.title}">
    <label>Producer</label>
    <input type="text" th:field="${gameForm.producer}">
    <label>Genre</label>
    <input type="text" th:field="${gameForm.genre}">
    <label>Min age</label>
    <input type="number" th:field="${gameForm.minimumAge}">
    <label>isAAA</label>
    <input type="checkbox" th:field="${gameForm.isAAA}">
    <input type="submit">
</form>

</body>
</html>